---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [254]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df[9]

'(4/10/71)Score-1Audit C Score Current:\n'

In [257]:
'''
    #?: Non-capturing group 

((?:\d{,2}\s)? # The two digits group. `?` refers to preceding token or group. Here the digits of 2 or 1 and space occurring once or less.  

 (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* # The words in group ending with any letters `[]` occuring any number of times (`*`). 

 (?:-|\.|\s|,) # Pattern matching -,.,space 

 \s? #(`?` here it implies only to space i.e the preceding token)

 \d{,2}[a-z]* # less than or equal to two digits having any number of letters at the end (`*`). (Eg: may be 1st, 13th , 22nd , Jan , December etc ) . 

 (?:-|,|\s)?# The characters -/,/space may occur once and may not occur because of `?` at the end

 \s? # space may occur or may not occur at all (maximum is 1) (`?` here it refers only to space)

 \d{2,4}) # Match digit which is 2 or 4   
'''

def date_sorter():
    import pandas as pd

    # Get the dates in the form of words
    one = df.str.extract(r'((?:\d{,2}\s)?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:-|\.|\s|,)\s?\d{,2}[a-z]*(?:-|,|\s)?\s?\d{2,4})')    
    # Get the dates in the form of numbers
    two = df.str.extract(r'((?:\d{1,2})(?:(?:\/|-)\d{1,2})(?:(?:\/|-)\d{2,4}))')
    # Get the dates where there is no days i.e only month and year  
    three = df.str.extract(r'((?:\d{1,2}(?:-|\/))?\d{4})')
    # Convert the dates to datatime and by filling the nans in two and three. Replace month name because of spelling mistake in the text file.
    dates = pd.to_datetime(one.fillna(two).fillna(three).replace('Decemeber','December',regex=True).replace('Janaury','January',regex=True))

    #idx = pd.Series(dates.sort_values()).index
    return pd.Series(dates.sort_values().index)

date_sorter()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:25: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:27: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:29: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

9     1971-04-10
84    1971-05-18
2     1971-07-08
53    1971-07-11
28    1971-09-12
474   1972-01-01
153   1972-01-13
13    1972-01-26
129   1972-05-06
98    1972-05-13
111   1972-06-10
225   1972-06-15
31    1972-07-20
171   1972-10-04
191   1972-11-30
486   1973-01-01
335   1973-02-01
415   1973-02-01
36    1973-02-14
405   1973-03-01
323   1973-03-01
422   1973-04-01
375   1973-06-01
380   1973-07-01
345   1973-10-01
57    1973-12-01
481   1974-01-01
436   1974-02-01
104   1974-02-24
299   1974-03-01
162   1974-03-05
154   1974-03-06
402   1974-04-01
95    1974-04-11
73    1974-04-12
108   1974-05-04
156   1974-05-26
332   1974-06-01
182   1974-06-13
82    1974-07-07
351   1974-08-01
278   1974-09-01
214   1974-09-10
155   1974-10-10
223   1974-10-14
473   1975-01-01
49    1975-02-28
317   1975-03-01
11    1975-04-09
319   1975-07-01
40    1975-07-29
418   1975-08-01
165   1975-08-18
370   1975-09-01
382   1975-09-01
3     1975-09-27
50    1975-11-22
363   1975-12-01
219   1975-12-14
465   1976-01-01
237   1976-02-01
23    1976-02-11
342   1976-03-01
204   1976-03-10
258   1976-04-01
315   1976-06-01
27    1976-09-02
93    1976-09-20
17    1976-10-13
488   1977-01-01
303   1977-01-01
283   1977-02-01
395   1977-02-01
309   1977-04-01
419   1977-05-01
123   1977-05-04
19    1977-05-21
117   1977-06-20
232   1977-07-01
72    1977-07-11
189   1977-10-21
369   1978-01-01
493   1978-01-01
318   1978-01-01
239   1978-02-01
148   1978-02-02
105   1978-02-03
336   1978-03-01
6     1978-05-18
200   1978-07-26
81    1978-08-04
65    1978-08-11
434   1978-10-01
164   1978-10-21
378   1978-12-01
313   1978-12-01
495   1979-01-01
424   1979-04-01
398   1979-05-01
5     1979-07-06
254   1979-08-01
296   1979-08-01
75    1979-09-06
167   1979-10-01
21    1979-10-21
259   1979-11-01
499   1980-01-01
347   1980-03-01
150   1980-03-12
78    1980-04-22
340   1980-05-01
441   1980-09-01
361   1980-10-01
267   1980-10-01
221   1980-10-18
466   1981-01-01
39    1981-01-14
134   1981-01-14
197   1981-02-18
355   1981-03-01
430   1981-06-01
80    1981-06-29
444   1981-07-01
246   1981-07-01
85    1981-08-09
215   1981-08-14
263   1981-09-01
74    1981-09-19
403   1981-10-01
458   1982-01-01
16    1982-04-12
25    1982-04-13
127   1982-05-26
454   1982-07-01
70    1982-07-04
44    1982-08-16
59    1982-08-20
103   1982-09-22
112   1982-10-16
429   1982-11-01
88    1982-12-08
179   1982-12-10
470   1983-01-01
358   1983-01-01
205   1983-01-27
397   1983-02-01
294   1983-02-01
137   1983-02-10
295   1983-03-01
35    1983-03-15
438   1983-04-01
247   1983-05-01
209   1983-07-25
61    1983-08-06
107   1983-08-22
285   1983-09-01
175   1983-10-21
99    1983-11-14
455   1984-01-01
24    1984-07-25
275   1984-09-01
421   1984-09-01
48    1984-09-17
426   1984-11-01
489   1985-01-01
136   1985-02-11
30    1985-03-31
274   1985-04-01
10    1985-05-11
178   1985-06-15
1     1985-06-18
447   1985-07-01
280   1985-07-01
185   1985-08-17
228   1985-09-01
135   1985-10-10
69    1985-11-03
492   1986-01-01
199   1986-01-24
352   1986-03-01
8     1986-03-07
276   1986-04-01
230   1986-05-01
334   1986-07-01
96    1986-07-18
38    1986-07-27
368   1986-08-01
404   1986-10-01
261   1986-10-01
168   1986-10-13
29    1986-10-24
437   1986-11-01
423   1986-12-01
54    1986-12-26
284   1987-01-01
485   1987-01-01
68    1987-01-21
32    1987-04-12
349   1987-05-01
41    1987-06-24
63    1987-06-28
416   1987-07-01
55    1987-10-11
130   1987-10-25
116   1987-12-04
76    1987-12-05
462   1988-01-01
330   1988-04-01
37    1988-05-24
390   1988-08-01
256   1988-08-01
216   1988-11-11
174   1988-12-04
180   1988-12-09
476   1989-01-01
312   1989-02-01
265   1989-04-01
115   1989-04-05
71    1989-04-13
218   1989-05-14
202   1989-05-15
440   1989-06-01
385   1989-07-01
373   1989-08-01
210   1989-08-11
89    1989-08-26
149   1989-09-09
26    1989-09-22
7     1989-10-24
435   1989-12-01
482   1990-01-01
177   1990-01-18
157   1990-02-10
412   1990-03-01
22    1990-03-03
194   1990-04-11
14    1990-05-24
151   1990-06-22
233   1990-07-01
206   1990-10-23
245   1990-11-01
122   1990-11-05
94    1990-12-08
461   1991-01-01
226   1991-01-07
97    1991-03-31
91    1991-04-19
51    1991-05-24
33    1991-06-20
453   1991-07-01
67    1991-07-06
46    1991-07-15
322   1991-10-01
66    1991-10-29
399   1992-01-01
487   1992-01-01
138   1992-02-05
62    1992-02-22
211   1992-04-17
52    1992-06-13
269   1992-07-01
119   1992-07-17
100   1992-08-16
442   1992-09-01
310   1992-10-01
143   1992-10-14
301   1992-12-01
113   1992-12-15
478   1993-01-01
298   1993-01-01
272   1993-02-01
354   1993-03-01
0     1993-03-25
249   1993-04-01
192   1993-05-06
86    1993-06-05
172   1993-08-23
357   1993-10-01
331   1993-12-01
477   1994-01-01
450   1994-01-01
300   1994-01-01
163   1994-01-29
308   1994-02-01
196   1994-02-18
47    1994-06-12
133   1994-06-28
359   1994-07-01
64    1994-07-29
42    1994-08-14
409   1994-10-01
406   1994-12-01
483   1995-01-01
238   1995-01-01
193   1995-01-18
311   1995-02-01
140   1995-02-14
388   1995-03-01
56    1995-03-14
236   1995-05-01
372   1995-05-01
110   1995-06-17
248   1995-07-01
60    1995-07-24
181   1995-08-18
203   1995-09-06
326   1995-10-01
90    1995-10-13
169   1995-10-21
292   1995-11-01
479   1996-01-01
142   1996-01-22
4     1996-02-06
124   1996-02-27
324   1996-10-01
121   1996-10-02
131   1996-10-14
166   1996-11-11
468   1997-01-01
365   1997-07-01
213   1997-07-11
87    1997-08-09
353   1997-10-01
101   1997-10-05
333   1997-11-01
114   1997-12-08
459   1998-01-01
45    1998-02-15
338   1998-04-01
18    1998-04-24
222   1998-05-15
343   1998-06-01
20    1998-07-21
224   1998-07-25
12    1998-08-01
79    1998-10-04
387   1998-11-01
251   1998-12-01
120   1998-12-22
471   1999-01-01
77    1999-01-05
376   1999-02-01
432   1999-04-01
327   1999-04-01
384   1999-05-01
321   1999-06-01
212   1999-07-24
407   1999-08-01
266   1999-09-01
145   1999-10-18
201   1999-12-23
456   2000-01-01
305   2000-02-01
260   2000-02-01
420   2000-03-01
329   2000-03-01
392   2000-05-01
417   2000-08-01
190   2000-08-10
158   2000-08-23
443   2000-09-01
83    2000-09-14
374   2000-11-01
457   2001-01-01
125   2001-01-24
328   2001-05-01
159   2001-05-26
195   2001-05-30
147   2001-05-30
377   2001-06-01
367   2001-09-01
394   2001-10-01
494   2002-01-01
304   2002-03-01
446   2002-04-01
43    2002-04-13
262   2002-06-01
128   2002-06-28
102   2002-07-18
449   2002-08-01
184   2002-11-11
469   2003-01-01
452   2003-03-01
234   2003-07-01
362   2003-08-01
356   2003-09-01
144   2003-10-06
291   2004-01-01
484   2004-01-01
188   2004-03-12
414   2004-04-01
92    2004-04-08
350   2004-05-01
241   2004-05-01
306   2004-05-01
425   2004-07-01
281   2004-08-01
207   2004-08-12
126   2004-09-10
302   2004-11-01
146   2004-11-11
451   2004-12-01
498   2005-01-01
339   2005-03-01
250   2005-05-01
344   2005-06-01
346   2005-09-01
348   2005-12-01
496   2006-01-01
106   2006-02-11
118   2006-04-27
270   2006-05-01
433   2006-05-01
307   2006-07-01
173   2006-10-18
314   2007-01-01
410   2007-01-01
490   2007-01-01
252   2007-01-01
391   2007-04-01
277   2007-04-01
325   2007-06-01
264   2007-06-01
289   2007-09-01
160   2007-10-21
341   2007-11-01
132   2007-11-30
428   2007-12-01
337   2007-12-01
445   2008-01-01
497   2008-01-01
187   2008-01-14
183   2008-05-26
396   2008-08-01
271   2008-08-01
293   2008-09-01
400   2008-11-01
360   2008-12-01
297   2009-01-01
491   2009-01-01
371   2009-01-01
389   2009-02-01
386   2009-07-01
288   2009-08-01
379   2009-08-01
268   2009-12-01
472   2010-01-01
273   2010-02-01
287   2010-03-01
448   2010-05-01
176   2010-05-26
411   2010-08-01
408   2010-10-01
364   2010-11-01
242   2010-11-01
58    2010-12-05
467   2011-01-01
170   2011-01-24
15    2011-01-25
240   2011-05-01
316   2011-05-01
229   2011-06-01
217   2011-06-13
109   2011-07-20
227   2011-09-15
290   2011-12-01
460   2012-01-01
393   2012-04-01
282   2012-05-01
34    2012-05-12
220   2012-06-25
208   2012-09-01
243   2012-09-01
139   2012-10-21
320   2012-11-01
383   2012-12-01
244   2013-01-01
286   2013-01-01
480   2013-01-01
431   2013-04-01
279   2013-09-01
198   2013-10-11
381   2014-01-01
463   2014-01-01
366   2014-07-01
439   2014-10-01
255   2014-10-01
401   2014-12-01
475   2015-01-01
257   2015-09-01
152   2015-09-28
235   2015-10-01
464   2016-01-01
253   2016-02-01
427   2016-05-01
231   2016-05-01
141   2016-05-30
186   2016-10-13
161   2016-10-19
413   2016-11-01
dtype: datetime64[ns]